[package]
name = "anytype"
version = "0.2.7"
authors = ["Steve Schoettler <stevelr-git@pm.me>"]
description = "An ergonomic Anytype API client in rust"
repository = "https://github.com/stevelr/anytype"
edition = "2024"
license = "MIT OR Apache-2.0"
keywords = ["anytype", "api", "client"]
categories = ["api-bindings"]
readme = "README.md"

[features]
default = []
# support for custom external keystore
keystore-ext = []

[lib]
path = "src/lib.rs"

[dependencies]
bytes.workspace = true
chrono.workspace = true
dirs.workspace = true
futures.workspace = true
keyring.workspace = true
parking_lot.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_path_to_error.workspace = true
snafu.workspace = true
strum.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true

[dev-dependencies]
serial_test = "3.2.0"
test-log.workspace = true
