# anytype
#
# SPDX-FileCopyrightText: 2025-2026 Steve Schoettler
# SPDX-License-Identifier: Apache-2.0
# 
[package]
name = "anytype"
version = "0.2.9"
authors = ["Steve Schoettler <stevelr-git@pm.me>"]
description = "An ergonomic Anytype API client in rust"
repository = "https://github.com/stevelr/anytype"
homepage = "https://github.com/stevelr/anytype"
edition = "2024"
license = "Apache-2.0"
keywords = ["anytype", "api", "client"]
categories = ["api-bindings"]
readme = "README.md"

[features]
default = ["linux-native"]
# support for custom external keystore
keystore-ext = []
# linux kernel keyutils credential store. See https://docs.rs/keyring 
linux-native = ["keyring/linux-native"]
# linux dbus-based Secret Service storage. See https://docs.rs/keyring 
linux-dbus = ["keyring/sync-secret-service", "keyring/crypto-rust"]
# linux native sync persistent See https://docs.rs/keyring 
linux-native-persistent = ["keyring/linux-native-sync-persistent", "keyring/crypto-rust"]

[lib]
path = "src/lib.rs"

[dependencies]
bytes.workspace = true
chrono.workspace = true
dirs.workspace = true
futures.workspace = true
keyring = { version = "3.6.3", default-features = false, features = ["apple-native", "windows-native"] }
parking_lot.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_path_to_error.workspace = true
snafu.workspace = true
strum.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true

[dev-dependencies]
serial_test = "3.3.1"
test-log.workspace = true
